<!DOCTYPE html>
<html lang="en" class="">
<head><% include partials/page/head.ejs %></head>
<body class="<%= classname%>">
    <% include partials/page/header.ejs %>
    <div class="container">
        <h1><%= title %></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Dolores expedita voluptatum ex neque ipsam, reprehenderit impedit? 
            Nisi consequuntur voluptatum earum expedita hic dicta voluptas modi eveniet, ipsum, non delectus dolore!
        </p>
    </div><!-- container -->
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %>
</body>
</html>